VITE_NOCODB_BASE_URL=https://sheets.perspectives.ac
VITE_NOCODB_TABLE_ID=mnglg169g5rhka5
VITE_NOCODB_TOKEN=
VITE_FESTIVAL_TIME_ZONE=Europe/Paris

VITE_VALIDATE_ENDPOINT=
VITE_VALIDATE_API_TOKEN=
VITE_VALIDATE_API_KEY=
